:root {
  background-color: #fdfbf6;
}

* {
  /* margin: 5px; */
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--main-background-color); */
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-trim: 0;
  line-height: 30px;
  cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
}

.header {
  /* background: #f8f9fa; */
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom: 1px solid #e9ecef;*/
}

.logo {
  height: 80px;
  width: 80px;
  height: fit-content;
  border-right: #333;
}

nav {
  /*display: flex;*/
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
}
.divider {
  width: 2px;
  height: 40px;
  background: black;
  margin: 0 8px;
}
.menu {
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 45px; */
}

.main-wrapper {
  flex: 1;
  display: flex;
  /* background: white; */
  gap: 20px;
  padding: 20px;
}

/* .content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.title-section {
  color: #797877;
  padding: 40px;
  text-align: start;
  margin-top: -20px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.title-section h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  margin-bottom: -10px;
}
.main-content {
  /* background: #f8f9fa; */
  color: #797877;
  padding: 40px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  font-size: 24px;
  text-align: left;
  text-align: justify;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  /* margin-left: 200px;
  margin-right: 200px; */
  line-height: 35px;

  p {
    margin-bottom: 30px;
  }

  img {
    width: 500px;
    display: flex;
    margin-top: -50px;
    margin-bottom: -50px;
  }
  .growth-manifesto {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 300px;
  }
  .pro-last {
    width: 700px;
  }
  a {
    color: inherit;
    text-decoration: none;
    background: none;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
  }
  /*.sub-content {
  color: #797877;
  padding: 60px;
  /*text-align: left;*/
  /*text-align: justify;*/
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-top: -50px;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
}

.fine {
  /* margin: 0; */
  padding: 0;
  margin-top: -400px;
}
.fine-img {
  display: flex;
  float: right;
  height: 450px;
  margin-right: 50px;
}

.footer {
  color: #718dae;
  padding: 30px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: -25px;
  margin-bottom: -30px;
}
hr {
  background-color: #718dae;
  height: 2px;
  border: none;
  width: 110%;
  margin: 1rem auto 0.2rem auto;
  border-radius: 4px;
}
nav a {
  color: #718dae;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  margin: 0 10px;
  cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
}

nav a:hover {
  text-decoration: underline;
}
