:root {
  background-color: #fdfbf6;
}

* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--main-background-color); */
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  line-height: 35px;
  margin-trim: 0;
  cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
}

.header {
  /* background: #f8f9fa; */
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom: 1px solid #e9ecef;*/
}

.logo {
  height: 80px;
  width: 80px;
  height: fit-content;
  border-right: #333;
}

nav {
  /*display: flex;*/
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
}

.divider {
  width: 2px;
  height: 40px;
  background: black;
  margin: 0 8px;
}
/*.menu1 {
  font-size: 18px;
  font-weight: bold;
}*/
.menu {
  font-size: 18px;
  font-weight: bold;
  /* margin-top: 45px; */
}

.main-wrapper {
  flex: 1;
  display: flex;
  /* background: white; */
  gap: 20px;
  padding: 20px;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-section {
  /* background: #f8f9fa; */
  color: #797877;
  padding: 40px;
  text-align: start;
  /*border: 1px solid #e9ecef; */
}

.title-section h1 {
  font-size: 70px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
h4 {
  font-weight: bold;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  line-height: 23px;
  color: #718dae;
}

.main-content {
  /* background: #f8f9fa; */
  color: #797877;
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: 24px;
  /* border: 1px solid #e9ecef;*/
  text-align: justify;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-top: -80px;
  width: 800px;
}
.mainpara {
  width: 725px;
}

button {
  background-color: #d8a39a;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  box-shadow: 4px 4px 4px grey;
  cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
}
a {
  color: inherit;
  text-decoration: none;
  background: none;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: url(/images/icons8-cursor-50.png) 4 4, auto;
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
}
.right-section {
  width: 300px;
  /*background: #e9ecef;*/
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /*border: 1px solid #dee2e6;*/
}
.image-container {
  height: 600px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  display: inline-block;
  background-color: #dabea7;
  padding: 15px;
  border-radius: 150px 0 0 150px;
  box-shadow: 0 4px 8px gray;
  padding-top: 0px;
  padding-bottom: 0px;
}
.green-banner {
  background: #a8bc9e;
  border-radius: 40px;
  margin: 0;
  padding: 20px;
  height: 350px;
  margin-right: -1px;
  margin-bottom: 60px;
}
.sub-content {
  /*background: #f8f9fa;*/
  /* color: #797877; */
  color: white;
  padding: 60px;
  text-align: left;
  text-align: justify;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  margin-top: -50px;

  /*border-top: 1px solid #e9ecef;*/
}
h3 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  margin-bottom: 30px;
}
.footer {
  /*background: #f8f9fa;*/
  color: #718dae;
  padding: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: -30px;
  /*border-top: 1px solid #e9ecef;*/
}
hr {
  background-color: #718dae;
  height: 2px;
  border: none;
  width: 110%;
  /* margin: 1rem auto 0.2rem auto; top, right, bottom, left */
  border-radius: 4px;
}
.copy-rights {
  font-weight: lighter;
  font-size: 13px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
}
nav a {
  color: #718dae;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
